{% extends 'layout.html' %}


{% block body %}

<!--Content-->


<h1>About Us!</h1>

    <h3>
        We started out as a group in college in 2019 in an internet application class and decided to creat an online store as our project.</br>
        We then decided to take it to the next step and open our project as a legitimate business.
    </h3>
    <h3>
        We are an online store that sells electronics, accesories, and games for many different consoles</br>
        such as the Playstation, Xbox, Nintendo, and PC.</br>
        We also have a delivery service that can deliver to your doorstep as fast as possible!
    </h3>

  {% endblock %}


