{% extends 'layout.html' %}


{% block body %}


        <h1>Contact Us!</h1>
        <h3>If you have any questions or concerns please write it below and we will get back to you as soon as possible</h3>
<form id="contact-form" class="main-form needs-validation" action="{{ url_for('send_email') }}" method="POST" novalidate>


        <div class="form-group">
           <!--Email-->
           <div class="form-group">
              <label for="Email">Email address:</label>
              <input type="email" class="form-control" name="usr_email" id="email" aria-describedby="emailHelp" placeholder="Enter email">
              <div id="email-err" class="invalid-feedback">Please enter a valid email address</div>
           </div>
           <!--textarea-->
              <div>
              <label for="contact">Please tell us what is wrong</label>
              <textarea class="form-control" id="contact"  style="height: 500px;" name="user_message"></textarea>
                <div id="contact-err" class="invalid-feedback">Please type something here</div>
              </div><br>

              <button class="btn btn-outline-primary" type="submit">Send</button>
        </div>

</form>





<script>

function validateText(id)
{
   var div = $("#"+id).closest("input");
   if( $("#"+id).val() == null || $("#"+id).val() == "")
   {
       
       div.addClass(" is-invalid");
       return false;
   }
   else
   {
        div.removeClass(" is-invalid");
        div.addClass(" is-valid");
        return true;
   }

}


$(document).ready(
    function()
    {
        $('#contact-form').submit(
            
            function()
            {

                if(!validateText("email"))
                {
                    return false;
                }
                //check if email is valid
                if(($("#email").val().indexOf('@') != -1 && $("#email").val().indexOf('.com') != -1))
                {
                  $("#email").removeClass(" is-invalid");
                  $("#email").addClass(" is-valid");
                }
                else
                {
                  $("#email").addClass(" is-invalid");
                  return false;
                }
                if(!validateText("contact"))
                {
                    $("#contact").addClass(" is-invalid");
                    return false;
                }
                else
                {
                  $("#contact").removeClass(" is-invalid");
                  $("#contact").addClass(" is-valid");
                }

            }
        );
    }
)         
</script>



{% endblock %}


