{% extends 'layout.html' %}


{% block body %}



    <div class="row">
        <div class="col-sm-12">

            <img src="https://fakeimg.pl/1280x720/000000/ffffff" alt=""><br><br>

            <div class="col-sm-12">
            <h3>price</h3><br>
            <button class="btn btn-outline-primary">Add to cart</button><br><br>


            <h3>Discription:</h3>
            <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur placeat eveniet ducimus incidunt adipisci totam error explicabo quaerat. Possimus quibusdam praesentium perferendis numquam porro assumenda repellendus perspiciatis? Voluptas quo iure, quos debitis molestias aperiam impedit! Rerum quia dolore est minima consequuntur, veritatis deleniti culpa ab nam asperiores qui laboriosam itaque cumque numquam aperiam in, omnis illo enim odit excepturi quidem atque laudantium necessitatibus. Dolorem laudantium repellat fuga tempora, alias nemo. Eius reiciendis deserunt alias facilis officia optio impedit cumque minus quam veritatis laudantium quaerat perspiciatis, atque aliquid minima repudiandae sint laborum veniam, nulla aut quidem magni voluptate et perferendis! Molestiae.</h5>

            <br>
           

          </div> <!--end col-sm-12-->
      </div><!--end row-->
{% endblock %}