{% extends 'layout.html' %}


{% block body %}

    <div class="row">
        <div class="col-sm-12">

            <img src="https://fakeimg.pl/1280x720/000000/ffffff" alt=""><br><br>

            <div class="col-sm-12">
            <h3>{{ name }}</h3>
            <h3>Price: ${{ price }}</h3><br>
            <button class="btn btn-outline-primary">Add to cart</button><br><br>

            <h3>Discription:</h3>
            <h5>{{ desc }}</h5>

            <br>
          </div> 

        </div><!--end col-sm-12-->
      </div><!--end row-->

{% endblock %}