<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/logo/icon.ico"/>
    <script src="https://kit.fontawesome.com/becf989c77.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">


  <title>KAE Store - {{title}}</title>
  
</head>
<body>

<!--khalid maddah--> 
<header class="header">

  <nav class="navbar navbar-expand-lg navbar-light bg-light"> 

    <!--sidebar menu-->
    <div id="mySidebar" class="sidebar">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <center> 
        <img src="/static/logo/logoBlue.png" width="100" height="100" alt="logo" id="side-logo">
        <a href="/index">Home</a>
        <a href="{{ url_for('item_list', item_type='PS4') }}" id="a-ps4">PS4 Items</a>
        <a href="{{ url_for('item_list', item_type='Xbox') }}" id="a-xb">Xbox Items</a>
        <a href="{{ url_for('item_list', item_type='PC') }}" id="a-pc">PC Items</a>
        <a href="/registration">Registration</a>
        <a href="/about">About</a>
        <a href="/contact">Contact Us</a>
      </center>
  </div>
  <div id="main">
    <button class="openbtn" onclick="openNav()">&#9776;</button>
  </div>
  
<!--logo-->
    <a class="navbar-brand" href="/index"> <img src="/static/logo/logoBlue.png" alt="" height="80" width="80"> KAE.Store</a>
 
  
  <!--Search bar-->
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-lg-2 w-350" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
      <button type="button" class="btn btn-primary" style="margin-left:10px;"><i class="fas fa-shopping-cart" style="color:white; border-color: blue;"></i></button>
  </nav>

</header>



<div class="container">
  
{% block body%}
{% endblock %}
</div>


<!--footer-->
<div class="footer">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        
        <a class="navbar-brand" href="/index"><img src="/static/logo/logoBlue.png" alt="" height="80" width="80"> KAE.Store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/index">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About Us</a>
            </li>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact Us</a>
          </li>

           
          </ul>
        </div>
        <center>
          <a href="https://facebook.com"><i class="fab fa-facebook-square fa-lg"></i></a>
          <a href="https://www.twitter.com"><i class="fab fa-twitter-square fa-lg"></i></a>
          <a href="https://www.instagram.com/essamkhash"><i class="fab fa-instagram fa-lg"></i></a>
        </center>
      </nav>

    </div>


<script>
/* Set the width of the sidebar to 300px and the opacity to 100 */
function openNav() {
  document.getElementById("mySidebar").style.width = "300px";
  document.getElementById("mySidebar").style.opacity = 100;
}

/* Set the width of the sidebar to 0 and the opacity to 0 */
function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("mySidebar").style.opacity = 0;
}

</script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!--khalid maddah--> 

</body>
</html>