{% extends 'layout.html' %}


{% block body %}

<!--Ali ALgarni & khalid maddah-->
    <h1>Sign Up</h1>
        <form id="register" class="main-form needs-validation" novalidate> 
                      <!--first and last name-->
                    <div class="row">
                        <div class="col">
                                 <div class="form-group">
                                    <label for="firstName">First Name:</label>
                                    <input type="text" class="form-control" id="firstName" placeholder="First Name">
                                    <div id="fName-err" class="invalid-feedback">Please enter a first name</div>
                                 </div>
                        </div>

                        <div class="col">
                                <div class="form-group">
                                    <label for="lastName">Last Name:</label>
                                    <input type="text" class="form-control" id="lastName" placeholder="Last Name">
                                    <div id="lName-err" class="invalid-feedback">Please enter a last name</div>
                                </div>
                        </div>
                     </div>  
                     <!--gender-->
                    <div class="form-group">
                            <label for="inputGender">Gender:</label>
                            <select id="inputGender" class="form-control">
                                  <option  value="">--Select--</option>
                                  <option  value="male">Male</option>
                                  <option value="female">Female</option>
                                  <option value="other">Other</option>  
                            </select>
                            <div class="invalid-feedback">Please choose a gender</div>
                    </div>
                    <!--username-->
                    <div class="form-group">
                        <label for="Username">Username:</label>
                        <input type="text" class="form-control" id="username" placeholder="Username">
                        <div class="invalid-feedback">Please enter a valid username</div>
                    </div>

                      <!--Email-->
                    <div class="form-group">
                        <label for="Email">Email address:</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                        <div id="email-err" class="invalid-feedback">Please enter a valid email address</div>
                    </div>

                      <!--password-->
                     <div class="form-group">
                         <label for="Password">Password:</label>
                        <input type="password" class="form-control" id="password" placeholder="Password">
                        <div id="err-pass" class="invalid-feedback">Your password must contain more than 6 characters</div>
                     </div>
                     <!--confirm password-->
                     <div class="form-group">
                            <label for="PasswordConfirm">Confirm Password:</label>
                           <input type="password" class="form-control" id="PasswordConfirm" placeholder="Confirm Password" required minlength="7">
                           <div id="confirm-pass-err" class="invalid-feedback"></div>
                    </div>
                     
                
                    <!--address 1-->
                <div class="form-group">
                        <label for="inputAddress">Address:</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="street, district">
                        <div class="invalid-feedback">Please enter an address</div>
                      </div>
                      <!--address 2-->
                      <div class="form-group">
                        <label for="inputAddress2">Address 2:</label>
                        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                      </div>
                      <!--country-->
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inputCountry">Country:</label>
                          <input type="text" class="form-control" id="inputCountry">
                          <div class="invalid-feedback">Please enter a country</div>
                        </div>
                        <!--city-->
                        <div class="form-group col-md-4">
                          <label for="inputCity">City:</label>
                          <select id="inputCity" class="form-control">
                                <option  value="">--Select--</option>
                                <option  value="Jeddah">Jeddah</option>
                                <option value="Makkah">Makkah</option>
                                <option value="Taif">Taif</option>
                                <option value="Dammam">Dammam</option>
                                <option value="Riyadh">Riyadh</option>
                                <option value="Madina">Medina</option>
                          </select>
                          <div class="invalid-feedback">Please choose a city</div>
                        </div>
                        <!--zip code-->
                        <div class="form-group col-md-2">
                          <label for="inputZip">Zip</label>
                          <input type="text" class="form-control" id="inputZip">
                          <div class="invalid-feedback">Please enter your zip code</div>
                        </div>
                      </div>
                          <!--submit button--> 
                      <button type="submit" class="btn btn-outline-primary">Sign Up</button>
                    </form>
<!--Ali ALgarni & khalid maddah-->




<!--khalid maddah -->
<script>

/* Set the width of the sidebar to 300px and the left margin of the page content to 300px */
function openNav() {
  document.getElementById("mySidebar").style.width = "300px";
  document.getElementById("main").style.marginLeft = "300px";
}

/* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft = "0";
}


function validateText(id)
{
   var div = $("#"+id).closest("input");
   if( $("#"+id).val() == null || $("#"+id).val() == "")
   {
       
       div.addClass(" is-invalid");
       return false;
   }
   else
   {
        div.removeClass(" is-invalid");
        div.addClass(" is-valid");
        return true;
   }

}

function confirmPass()
{
    if($("#PasswordConfirm").val() != $("#password").val())
    {
        $("#PasswordConfirm").addClass(" is-invalid");
        $("#confirm-pass-err").html("Does not match");
        return false;
    }
    else
    {
        $("#PasswordConfirm").removeClass(" is-invalid");
        $("#PasswordConfirm").addClass(" is-valid");
        return true;
    }
}


$(document).ready(
    function()
    {
        $('#register').submit(
            
            function()
            {
                if(!validateText("firstName"))
                {
                    return false;
                }
                if(document.getElementById("firstName").value.match(/[0-9]/)) //check if first name has numbers
                {
                  $("#firstName").addClass(" is-invalid");
                  $("#fName-err").html("Please don't add numbers");
                  return false;
                }
                else
                {
                  $("#firstName").removeClass(" is-invalid");
                  $("#firstName").addClass(" is-valid");
                }
                if(!validateText("lastName"))
                {
                    return false;
                }
                if(document.getElementById("lastName").value.match(/[0-9]/)) //check if last name has numbers
                {
                  $("#lastName").addClass(" is-invalid");
                  $("#lName-err").html("Please don't add numbers");
                  return false;
                }
                else
                {
                  $("#firstName").removeClass(" is-invalid");
                  $("#firstName").addClass(" is-valid");
                }
                if($("#inputGender").val() === "")
                {
                  $("#inputGender").addClass(" is-invalid");
                  return false;
                }
                else
                {
                  $("#inputGender").removeClass(" is-invalid");
                  $("#inputGender").addClass(" is-valid");
                }
                if(!validateText("username"))
                {
                    return false;
                }
                if(!validateText("email"))
                {
                    return false;
                }

                //check if email is valid
                if(($("#email").val().indexOf('@') != -1 && $("#email").val().indexOf('.com') != -1))
                {
                  $("#email").removeClass(" is-invalid");
                  $("#email").addClass(" is-valid");
                }
                else
                {
                  $("#email").addClass(" is-invalid");
                  return false;
                }
                if(!validateText("password"))
                {
                    return false;
                }
                if($("#password").val().length > 6) //chack if password is more or less than 6 characters
                {
                  $("#password").removeClass(" is-invalid");
                  $("#password").addClass(" is-valid");
                }
                else
                {
                    $("#password").addClass(" is-invalid");
                    $("#pass-err").html("Password must be more than 6 characters");
                    return false;
                }
                if(!validateText("PasswordConfirm"))
                {
                    return false;
                }
                if(!confirmPass())
                {
                    return false;
                }
                if(!validateText("inputAddress"))
                {
                    return false;
                }
                if(!validateText("inputCountry"))
                {
                    return false;
                }
                if($("#inputCity").val() === "")
                {
                  $("#inputCity").addClass(" is-invalid");
                  return false;
                }
                else
                {
                  $("#inputCity").removeClass(" is-invalid");
                  $("#inputCity").addClass(" is-valid");
                }
                if(!validateText("inputZip"))
                {
                    return false;
                } 
            }
        );
    }
)         

</script>
<!--khalid maddah -->
{% endblock %}